name: Build Plugin

on:
  push:
    branches:
      - main
  pull_request_target:
    branches: ['*']

jobs:
  build:
    name: Build plugin
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha || github.sha }}
        fetch-depth: 0
        submodules: "recursive"
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Create variables
      run: |
        echo "TIMESTAMP=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
        echo "PLUGIN_NAME=$(jq -r '.name' plugin.json)" >> $GITHUB_ENV
        echo "REPO_NAME=$(basename -s .git "$(jq -r '.repository.url' package.json)")" >> $GITHUB_ENV
        echo "VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV

    - name: Append hash to plugin version
      run: |
        echo "::notice::This run was triggered by a commit. Appending the commit hash to the plugin version."

        package_file="package.json"

        SHA=$(cut -c1-7 <<< "${{ github.event.pull_request.head.sha || github.sha }}")
        NEW_VERSION="${VERSION}-${SHA}"

        echo "::notice::Going from ${VERSION} to ${NEW_VERSION}"

        tmp=$(mktemp)
        jq --arg newversion "${NEW_VERSION}" '.version = $newversion' ${package_file} > "${tmp}"
        mv "${tmp}" "${package_file}"

        echo "::endgroup::"

    - uses: pnpm/action-setup@v3

    - name: Update pnpm lockfile
      run: |
        $(which pnpm) install --lockfile-only

    - name: Download Decky CLI
      run: |
        mkdir -p "$(pwd)"/cli
        curl -L -o "$(pwd)"/cli/decky "https://github.com/SteamDeckHomebrew/cli/releases/latest/download/decky-linux-x86_64"
        chmod +x "$(pwd)"/cli/decky

    - name: Build plugin
      run: |
        # Run the CLI as root to get around Docker's weird permissions
        sudo .vscode/build.sh
        sudo chown -R $(whoami) out

    - name: Repackage plugin
      if: ${{ env.PLUGIN_NAME != env.REPO_NAME }}
      run: |
        built_folder="${PLUGIN_NAME}"
        built_package="${built_folder}.zip"
        renamed_folder="${REPO_NAME}"
        renamed_package="${renamed_folder}.zip"

        cd out
        unzip -qq "${built_package}"
        rm -f "${built_package}"
        mv "${built_folder}" "${renamed_folder}"
        zip -rq "${renamed_package}" "${renamed_folder}"

        tree

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: output
        path: out/*/

    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.event_name == 'push'
      with:
        tag_name: ${{ env.TIMESTAMP }}
        prerelease: true
        files: out/*.zip
